<!DOCTYPE html>
<html lang="en">

<head>

    <title>Index</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/timeline.css">
    <link rel="stylesheet" href="fontawesome/fontawesome.css">

</head>

<body ng-app="app">

    <div class="container-fluid">
        <div class="row">

            <!--start of left-->
            <div class="col-md-4" id="left">

                <!--Account-->
                <div class="col-md-12" id="one" ng-controller="account">
                    <nav class="navbar navbar-inverse" id="topnav">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="col-md-12">
                                <div class="row">
                                    <b><a class="navbar-brand" id="two">{{account.account_name}}</a></b>
                                </div>
                                <div class="row" id="three">
                                    <span id="four"> Customer - </span>
                                    <span id="five">{{account.account_nr}}</span>
                                    <span class="caret" id="six"></span>
                                </div>
                            </div>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#" id="seven">
                                        <span class="glyphicon glyphicon-home blue-text" id="eight"></span></a>
                                </li>
                                <li>
                                    <a href="#" id="seven">
                                        <span class="glyphicon glyphicon-ok-sign blue-text" id="eight"></span></a>
                                </li>
                                <li>
                                    <a href="#" id="seven">
                                        <span class="glyphicon glyphicon-thumbs-up blue-text" id="eight"></span></a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#" id="ten">
                                        <span class="glyphicon glyphicon-bell" id="eleven"></span>
                                        <span id="twelve">5</span>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="seven">
                                        <span class="glyphicon glyphicon-menu-hamburger" id="thirteen"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Page 1-1</a></li>
                                        <li><a href="#">Page 1-2</a></li>
                                        <li><a href="#">Page 1-3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="col-md-6" id="fourteen">
                        <label>SSN:</label> {{account.ssn_nr}}
                        <div class="media" id="fifteen">
                            <div class="media-left">
                                <label> Contact: </label>
                                <img src="images/index_contact.png" class="media-object" id="sixteen">
                            </div>
                            <div class="media-body">
                                {{account.primary_contact_full_name}}<br> +{{account.primary_phone_nr}}
                                {{account.email_address}}
                            </div>
                        </div>
                        <div class="media" id="seventeen">
                            <div class="media-left">
                                <label> Address: </label>
                                <img src="images/index_location.png" class="media-object" id="eighteen">
                            </div>
                            <div class="media-body">
                                {{account.primary_street_address}},{{account.primary_street_nr}},{{account.primary_street_letter}},{{account.primary_address_city}}<br>{{account.primary_address_country}}<br>{{account.primary_adress_zip_code}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Segment: </label> {{account.primary_postpaid_segment}}
                        <br>
                        <label>Customer Since: </label> {{account.customer_since}}
                    </div>
                </div>
                <!--end of account-->

                <!--Assets-->
                <div class="col-md-12" id="assetsnav" ng-controller="assets">
                    <div class="row" id="nineteen">
                        <div class="col-xs-6">
                            <p id="twenty">Assets</p>
                        </div>
                        <div class="col-md-4" id="twentyone">
                            <form>
                                <div class="input-group">
                                    <span class="input-group-addon" id="twentytwo">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>
                                    <input type="text" id="twentythree" class="form-control" name="assetssearch"
                                        placeholder="Look for...">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-2" id="twentyfour">
                            <div class="dropdown" id="twentyfive">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                    id="twentysix">
                                    <i class="fa fa-bars"></i></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="carousel slide media-carousel" id="media">
                        <div class="carousel-inner">
                            <div class="item  active">
                                <div class="row" id="twentyseven">
                                    <div class="col-md-3" id="twentyeight" ng-repeat="data in assets">
                                        <button id="twentynine">
                                            <i class="fa fa-mobile" id="thirty">
                                                <i class="fa fa-check-circle" id="thirtyone"></i>
                                            </i>
                                            <br>{{data.product_name}}
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="item">
                                <div class="row" id="twentyseven">
                                    <div class="col-md-3" id="twentyeight" ng-repeat="data in assets">
                                        <button id="twentynine">
                                            <i class="fa fa-mobile" id="thirty">
                                                <i class="fa fa-check-circle" id="thirtyone"></i>
                                            </i>
                                            <br>{{data.product_name}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a data-slide="prev" href="#media" id="thirtythree" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#media" id="thirtythree" class="right carousel-control">›</a>
                    </div>
                </div>
                <!--end of assets-->

                <!--Orders-->
                <div class="col-md-12" id="ordernav" ng-controller="orders">
                    <div class="row" id="thirtyfour">
                        <div class="col-md-6">
                            <p id="thirtyfive">Orders</p>
                        </div>
                        <div class="col-md-4" id="twentyone">
                            <form>
                                <div class="input-group">
                                    <span class="input-group-addon" id="twentytwo">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>
                                    <input type="text" id="twentythree" class="form-control" name="assetssearch"
                                        placeholder="Look for...">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-2" id="twentyfour">
                            <div class="dropdown" id="twentyfive">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                    id="twentysix">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="thirtysix">
                        <table class="tableBodyScroll" id="thirtyseven" border="1px">
                            <thead>
                                <tr>
                                    <th id="thirtyeight">Order Date</th>
                                    <th id="thirtyeight">Order Type</th>
                                    <th id="thirtynine">Status</th>
                                    <th id="thirtynine">Billing Account</th>
                                    <th id="forty">Order #</th>
                                </tr>
                            </thead>
                            <!--1st ROW-->
                            <tbody id="style-3">
                                <tr ng-repeat="info in orders">
                                    <td>{{info.order_date}}</td>
                                    <td>{{info.order_type}}</td>
                                    <td>{{info.status}}</td>
                                    <td>{{info.ca_nr}}</td>
                                    <td>{{info.order_number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--end of orders-->

                <!--Invoice-->
                <div class="col-md-12" id="invoicenav" ng-controller="invoices">
                    <div class="row" id="fortyone">
                        <div class="col-md-6">
                            <p id="fortytwo">Invoices</p>
                        </div>
                        <div class="col-md-4" id="twentyone">
                            <form>
                                <div class="input-group">
                                    <span class="input-group-addon" id="twentytwo">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>
                                    <input type="text" id="twentythree" class="form-control" name="assetssearch"
                                        placeholder="Look for...">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-2" id="twentyfour">
                            <div class="dropdown" id="twentyfive">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                    id="twentysix">
                                    <i class="fa fa-bars"></i></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="carousel slide media-carousel" id="media1">
                        <div class="carousel-inner">
                            <div class="item  active">
                                <div class="row" id="fortythree">
                                    <div class="col-md-3" id="fortyfour" ng-repeat="data in invoices">
                                        <p id="seventyfive">
                                            December.'13</p>
                                        <button id="fortyfive">
                                            <img src="images/file1.png" id="seventysix">
                                            <p id="seventyfour">204 Kr</p>
                                        </button>
                                        <p id="seventyseven">{{data.billing_account_nr}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row" id="fifty">
                                    <div class="col-md-3" id="fortyfour" ng-repeat="data in invoices">
                                        <p id="seventyfive">
                                            December.'13</p>
                                        <button id="fortyfive">
                                            <img src="images/file1.png" id="seventysix">
                                            <p id="seventyfour">204 Kr</p>
                                        </button>
                                        <p id="seventyseven">{{data.billing_account_nr}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a data-slide="prev" href="#media1" id="fiftythree" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#media1" id="fiftythree" class="right carousel-control">›</a>
                    </div>
                </div>
                <!--end of invoice-->

            </div>
            <!--end of left-->

            <!--start of mid-->
            <div class="col-md-4" id="mid">

                <div class="container-fluid">
                    <h4 id="fiftyfour"><strong>Proactivity Panel</strong></h4>
                    <div class="row">
                        <div class="col-md-2" style="background-color: green;">
                            <div class="footer">
                                <i class="fas fa-file-alt fa-3x" id="fiftyfive"></i>
                            </div>
                        </div>
                        <div class="col-md-10" id="fiftysix">
                            <h5><strong>PROLONGATION</strong></h5>
                            <ul id="fiftyseven">
                                <li id="fiftyeight"> Binding period expired for asset
                                    <a>3333232131</a> on
                                    <strong>2019-03-15</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!--end of mid-->

            <!--start of third-->
            <div class="col-md-2" id="third">
                <h4 id="fiftynine"><strong>Account Timeline</strong>
                </h4>
                <div class="row" id="timeline">
                    <div class="col-md-7" id="sixty">
                        <div class="col-md-3" id="sixtyone">
                            <button class="button button1" id="sixtytwo"><i class="fas fa-scroll"></i></button>
                        </div>
                        <div class="col-md-3" id="sixtyone">
                            <button class="button"><i class="fas fa-heartbeat"></i></button>
                        </div>
                        <div class="col-md-3" id="sixtyone">
                            <button class="button button1"><i class="fal fa-cube"></i></button>
                        </div>
                        <div class="col-md-3" id="sixtyone">
                            <button class="button button1"><i class="far fa-comment-alt"></i></button>
                        </div>
                    </div>
                </div>

                <div class="container-fluid" id="timeline">
                    <div class="row">
                        <div class="col-md-12" id="style-4" style="padding:15px;">
                            <div class="row" ng-controller="HelloWorldCtrl">
                                <div class="col-md-3 border-right">
                                    <div class="row text-right" id="sixtythree" ng-repeat="key in months">
                                        <p class="yellow-rounded">
                                            {{key}}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <span ng-style="getStyle(datearr[0])" id="sixtyfour"
                                        ng-repeat="datearr in processedDates">
                                        <i class="fa fa-scroll" id="sixtyfive"></i>
                                        <ul class="list-inlne" id="sixtysix">
                                            <li class="list-inline-item" ng-repeat="date in datearr">
                                                {{date.toDateString().substring(4)}}
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--end of third-->

            <!--start of right-->
            <div class="col-md-2" id="right">

                <div class="row">
                    <div class="dropdown pull-right">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                            id="sixtyseven">
                            <i class="fa fa-bars"></i></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>
                </div>
                <p>
                    <h5 id="sixtyeight">Service Request /
                        <span id="sixtynine">Activity</span>
                    </h5>
                </p>
                <form class="form-horizontal" id="sr">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="email" id="seventy">SR#</label>
                        <div class="col-md-10">
                            <input id="usr" type="text" class="form-control" id="disabledInput" name="email" disabled>
                        </div>
                    </div>
                </form>
                <h5><span id="sixtynine">Log </span>
                    <hr>
                </h5>
                <form class="form-horizontal" id="log">
                    <div class="form-group">
                        <label for="sel1" class="control-label">Source</label>
                        <select id="source" class="form-group input-sm">
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1" class="control-label">Product Level 1</label>
                        <select id="product" class="form-group input-sm">
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1" class="control-label">Type</label>
                        <select id="type" class="form-group input-sm">
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1" class="control-label">Area</label>
                        <select id="area" class="form-group input-sm">
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1" class="control-label">Sub
                            Area</label>
                        <select id="subarea" class="form-group input-sm">
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1" class="control-label">Resolution Code</label>
                        <select id="resolutioncode" class="form-group input-sm">
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                </form>
                <h5><span id="sixtynine">Associations </span>
                    <hr>
                </h5>
                <form class="form-horizontal" id="associations">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Account</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input id="account" type="text" class="form-control input-sm" name="email">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Asset</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input id="asset" type="text" class="form-control input-sm" name="email">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Contact</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input id="contact" type="text" class="form-control input-sm" name="email">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Order#</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input id="order" type="text" class="form-control input-sm" name="email">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Invoice#</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input id="invoice" type="text" class="form-control" name="email">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <h5>Notes</h5>
                <form id="abc">
                    <div class="input-container ">
                        <input class="input-field " type="text " name="notes " id="seventyone">
                        <button id="seventytwo">
                            <i class="fal fa-expand-alt" id="seventythree"></i>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ">
                            <button type="button " class="btn  success btn-block">Associate</button>
                        </div>
                        <div class="col-md-6 ">
                            <button type="button " class="btn  success btn-block">Resolve</button>
                        </div>
                        <div class="col-md-6 ">
                            <button type="button " class="btn  success btn-block">Clear</button>
                        </div>
                    </div>
                </form>

            </div>
            <!--end of right-->

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="js/index.js"></script>

</body>

</html>