#left .glyphicon {
    font-size: 13px;
}

body {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

#left #topnav {
    /*min-height: 0px;*/
    max-height: 7vh;
    width: 100%;
    margin-bottom: 12px;
    line-height: 11px;
    height: 55px;
    margin-top: 10px;
}

#left .navbar {
    height: 30px;
}

/* carousel */

.media-carousel {
    margin-bottom: 0;
    padding: 0 43px 0px 49px;
    /* margin-top: 30px; */
    margin-left: 20px;
    height: 110px;
    margin-left: 12px;
    margin-right: 12px;
    padding-left: 25px;
    padding-right: 25px;
    height: 110px;
    margin-left: 12px;
    margin-right: 12px;
    padding-left: 25px;
    padding-right: 25px;
}

/* Previous button  */

.media-carousel .carousel-control.left {
    left: -12px;
    background-image: none;
    border: 2px solid #555;
    border-radius: 23px 23px 23px 23px;
    height: 35px;
    width: 35px;
    margin-top: 30px
}

/* Next button  */

.media-carousel .carousel-control.right {
    right: -12px !important;
    background-image: none;
    border: 2px solid #555;
    border-radius: 23px 23px 23px 23px;
    height: 35px;
    width: 35px;
    margin-top: 30px
}

/* Changes the position of the indicators */

.media-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

/* Changes the colour of the indicators */

.media-carousel .carousel-indicators li {
    background: #c0c0c0;
}

.media-carousel .carousel-indicators .active {
    background: #333333;
}

.media-carousel img {
    width: 250px;
    height: 80px;
}

/* End carousel */

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 98%;
    /* margin: 12px; */
    margin: 0px 0px 6px 5px;
}

#customers td, #customers th {
    border: 1px solid #777;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #fff;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #777;
    color: white;
}

.icon {
    padding: 10px;
    background: white;
    color: black;
    /*min-width: 50px;*/
    text-align: center;
}

.input-field {
    /*width: 100%;*/
    padding: 10px;
    border: 1px solid;
    border-color: #cccccc;
}

/* Set a style for the submit button */

.blue-text {
    color: #22a5d8;
}

#assetsnav, #ordernav, #invoicenav {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 2vh;
}

#assetsnav .navbar, #ordernav .navbar, #invoicenav .navbar {
    background-color: #cccccc;
}

#assetsnav .navbar-brand, #ordernav .navbar-brand, #invoicenav .navbar-brand {
    padding: 0px 8px;
    color: #337ab7;
    font-size: 2vh;
    line-height: 4vh;
}

#right .form-horizontal .form-group {
    margin-bottom: 0px;
    padding-top: 0px;
}

#right #log select {
    width: 103px;
    height: 18px;
    float: right;
    margin-right: 13px;
    border: 1px solid rgb(204, 204, 204);
    padding-bottom: 0px;
    font-size: 11px;
}

#right hr {
    border-top: 1px solid black;
    margin-top: 4px;
    margin-bottom: 6px;
}

#right #log {
    padding-left: 15px;
}

#right #log label, #associations label, #sr label {
    font-size: 10px;
}

#right #associations .input-group input {
    float: right;
    margin-top: 4px;
    width: 90px;
    height: 20px;
    border-right: 0px;
    font-size: 11px;
}

#right #associations .input-group .btn {
    padding: 0px;
    border-top: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    height: 20px;
    margin-top: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    padding-right: 5px;
}

#right #associations .input-group .glyphicon {
    font-size: 8px;
}

.btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: black;
    cursor: pointer;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

/* Green */

#right .success {
    border: 1px solid #4CAF50;
    /*border-color: #4CAF50;*/
    color: green;
    padding: 0px 10px;
    margin-top: 5px;
    font-size: 1.8vh;
}

#right .success:hover {
    background-color: #4CAF50;
    color: white;
}

#right #abc {
    position: relative;
}

#right #abc i {
    position: absolute;
    top: 0;
    right: 0;
}

#right #usr {
    float: right;
    margin-top: 4px;
    width: 100px;
    height: 20px;
    font-size: 11px;
}

tr {
    cursor: pointer;
    background: -moz-linear-gradient(top, #e7e4e4, #D1E3E9);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e7e4e4), to(rgba(247, 247, 247, 0.822)));
    text-align: center;
}

tr:hover {
    background: -moz-linear-gradient(top, #f8cc06, #f7b606);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8cc06), to(#f7b606));
}

tr:active {
    background: -moz-linear-gradient(top, #f7b606, #f8cc06);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7b606), to(#f8cc06));
}

#result {
    font-weight: bold;
    font-size: 16pt;
}

.btnn {
    padding-left: 8px;
    margin-left: 300px;
    background-color: white;
    color: #000000;
    padding: 3px 3px;
    border: black;
    /* cursor: pointer; */
    /* width: 100%; */
    opacity: 0.9;
}

.bton {
    padding-left: 8px;
    margin-left: 0px;
    background-color: white;
    color: black;
    padding: 3px 3px;
    border: black;
    /* cursor: pointer; */
    /* width: 100%; */
    opacity: 0.9;
}

.glyphicon {
    font-size: 19px;
}

body {
    font-size: 11px;
}

.navbar {
    height: 36px;
    width: 100%;
}

.btnn {
    padding-left: 8px;
    margin-left: 300px;
    background-color: white;
    color: #000000;
    padding: 3px 3px;
    border: black;
    /* cursor: pointer; */
    /* width: 100%; */
    opacity: 0.9;
}

.bton {
    padding-left: 8px;
    margin-left: 0px;
    background-color: white;
    color: black;
    padding: 3px 3px;
    border: black;
    /* cursor: pointer; */
    /* width: 100%; */
    opacity: 0.9;
}

.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}

.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 15px;
    height: 15px;
    font: 15px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
    background-color: #06a0fd;
    background-clip: padding-box;
}

.qty .minus {
    border-left-width: 38px;
    margin-left: 20px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 15px;
    height: 15px;
    font: 15px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
    background-color: #06a0fd;
    background-clip: padding-box;
}

div {
    text-align: left;
}

.minus:hover {
    background-color: #717fe0 !important;
}

.plus:hover {
    background-color: #717fe0 !important;
}

/*Prevent text selection*/

span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input {
    border: 0;
    width: 2%;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:disabled {
    background-color: white;
}

#arrow {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 5px;
    height: 5px;
    transform: rotate(-45deg);
    margin-top: 40px;
}

li before {
    content: ' \003E';
}

div.footer {
    width: 100%;
    height: 60px;
    background-color: green;
    text-align: center;
    padding-top: 9px;
}

div.fa-file-alt {
    color: green;
    font-size: 2.2em;
    background-color: #fff;
    border: 4px solid #E6E6FA;
    border-radius: 48px;
    height: 52px;
    line-height: 44px;
    width: 52px;
    text-align: center;
    float: left;
    margin-left: 43.5%;
    margin-right: auto;
}

th {
    background-color: #afacac;
    color: white;
    font-size: 11px;
}

.fixed_header {
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody {
    display: block;
    overflow: auto;
    height: 200px;
}

.fixed_header thead tr {
    display: block;
}

.fixed_header thead {
    color: #fff;
}

.fixed_header th, .fixed_header td {
    padding: 0px;
    text-align: center;
    height: 65px;
    width: 200px;
    border-bottom: 1px solid #ddd;
}

.tableBodyScroll tbody {
    display: block;
    max-height: 130px;
    overflow-y: scroll;
}

.tableBodyScroll thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

td {
    font-size: 11px;
    height: 25px;
}

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 450px;
}

#style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb {
    background-color: #afacac;
}

table {
    border: none;
}

.chart {
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: 69.59px;
    height: 86px;
    margin: 0 auto;
    padding-left: 0px;
}

.chart li {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    height: 86px;
}

.chart span {
    margin: 0 1em;
    display: block;
    background: #06a0fd;
    animation: draw 1s ease-in-out;
    margin-left: 0px;
    margin-right: 0px;
}

.chart span:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 5px 1em 0;
    display: block;
    text-align: center;
    content: attr(title);
    word-wrap: break-word;
}

#timeline .yellow-rounded {
    background: #fff9d3;
    border: 1px solid #fff9d3;
    border-radius: 25px;
    /*padding: 0 15px ;*/
    min-width: 50px;
    text-align: center;
    color: #a1a1a1;
}

#timeline .border-right {
    border-right: 1px solid gray !important;
}

#timeline .col-md-9 span {
    position: absolute;
}

#timeline .col-md-9 span::before {
    content: "";
    position: absolute;
    border-top: 1px solid #a1a1a1;
    width: 13px;
    top: 50%;
    left: -16px;
}

#timeline .col-md-9 span::after {
    content: "";
    position: absolute;
    border: 1px solid #a1a1a1;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    top: 0%;
    left: -4px;
}

#timeline #style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: white;
}

#timeline #style-4::-webkit-scrollbar {
    width: 7px;
    background: white;
}

#timeline #style-4::-webkit-scrollbar-thumb {
    background: #afacac;
}

#timeline .col-md-12 {
    display: block;
    max-height: 600px;
    overflow-y: scroll;
}

#timeline .button {
    background: none;
    border: 1px solid #a1a1a1;
    color: #a1a1a1;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    cursor: pointer;
    border-radius: 50%;
}

#one {
    padding: 0px;
}

#two {
    padding-top: 8px;
    height: 32px;
    color: white
}

#three {
    margin-left: 0px;
}

#four {
    font-size: 12px;
    color: #06a0fd;
}

#five {
    color: white
}

#six {
    color: #06a0fd
}

#seven {
    padding-top: 10px;
    padding-bottom: 0px;
    border-top-width: 0px;
    margin-top: 5px;
    padding-left: 0px;
    margin-left: 7px;
    padding-right: 0px;
    margin-right: 7px;
    font-size: 20px;
}

#seven #eight {
    font-size: 20px;
}

#nine {
    padding-top: 10px;
    padding-bottom: 0px;
    border-top-width: 0px;
    margin-top: 5px;
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

#ten {
    padding-top: 10px;
    padding-bottom: 0px;
    border-top-width: 0px;
    margin-top: 5px;
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

#ten #eleven {
    color: #22b719;
    font-size: 30px;
}

#ten #twelve {
    position: absolute;
    top: 11px;
    right: 15px;
    font-size: 12px;
    padding: 0px 5px;
    border-radius: 50%;
    background-color: white;
    color: black;
}

#seven #thirteen {
    color: white;
}

#fourteen {
    padding-right: 0px;
}

#fifteen {
    margin-top: 0px;
}

#sixteen {
    width: 22px;
    padding: 2px;
    margin-left: 10px;
    border: 2px solid yellowgreen;
}

#seventeen {
    margin-top: 6px;
}

#eighteen {
    width: 22px;
    padding: 2px;
    margin-left: 10px;
    border: 2px solid yellowgreen;
}

#nineteen {
    background-color: #cccccc;
    margin: 0px 0px;
    height: 25px;
}

#twenty {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    color: #06a0fd;
}

#twentyone {
    padding-left: 0px;
    padding-right: 0px;
    height: 25px;
    width: 150px;
}

#twentytwo {
    border-top-width: 0px;
    border-bottom-width: 0px;
    padding-bottom: 1px;
    height: 25px;
    padding-top: 1px;
    border-left-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;
    color: orange;
}

#twentythree {
    font-style: 12px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    height: 25px;
    width: 120px;
}

#twentyfour {
    width: 11.666667%;
}

#twentyfive {
    margin-left: 20px;
    margin-top: 1px;
}

#twentysix {
    padding: 0;
    margin: 0;
    background-color: #cccccc;
    border: none;
}

#twentyseven {
    margin-top: 20px;
}

#twentyeight {
    padding-left: 21px;
    padding-right: 10px;
}

#twentynine {
    font-size: 10px;
    border: none;
    background: none;
}

#thirty {
    font-size: 40px;
}

#thirtyone {
    font-size: 12px;
    color: green;
    position: absolute;
    right: 20px;
    top: 0px;
}

#thirtytwo {
    padding-left: 10px;
    padding-right: 10px;
}

#thirtythree {
    color: #333;
    margin-top: 40px;
}

#thirtyfour {
    background-color: #cccccc;
    margin: 0px 0px;
    height: 25px;
}

#thirtyfive {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    color: #06a0fd;
}

#thirtysix {
    padding-top: 10px;
    padding-left: 0px;
}

#thirtyseven {
    border-collapse: collapse;
    border-color: white;
}

#thirtyeight {
    height: 25px;
    text-align: center;
    width: 88px;
}

#thirtynine {
    height: 25px;
    text-align: center;
    width: 89px;
}

#forty {
    height: 25px;
    text-align: center;
}

#fortyone {
    background-color: #cccccc;
    margin: 0px 0px;
    height: 25px;
}

#fortytwo {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    color: #06a0fd;
}

#fortythree {
    margin-top: 10px;
}

#fortyfour {
    width: 24%;
    padding-left: 21px;
    padding-right: 5px;
}

#fortyfive {
    font-size: 10px;
    border: 1px solid #cccccc;
    border-radius: 15px;
    background: none;
    padding: 0;
    height: 90px;
    width: 71.5px;
}

#fortysix {
    font-size: 12px;
    color: orange;
    position: absolute;
    right: 0px;
}

#fortyseven {
    padding-left: 13px;
    padding-right: 10px;
}

#fortyeight {
    font-size: 12px;
    color: green;
    position: absolute;
    right: -5px;
    top: 6px;
}

#fortynine {
    font-size: 12px;
    color: orange;
    position: absolute;
    right: -5px;
    top: 6px;
}

#fifty {
    margin-top: 10px;
}

#fiftyone {
    padding-left: 21px;
    padding-right: 10px;
}

#fiftytwo {
    padding-left: 15px;
    padding-right: 10px;
}

#fiftythree {
    color: #333;
    margin-top: 60px;
}

#fiftyfour {
    color: #06a0fd;
    margin-left: -15px;
}

#fiftyfive {
    color: white;
    text-align: center;
}

#fiftysix {
    background-color: #C6E5B7;
    height: 60px;
}

#fiftyseven {
    list-style-type: none;
    margin-left: -41px;
    margin-top: -5px;
}

#fiftyeight {
    font-size: 12px;
    content: ' \003E';
}

#fiftynine {
    color: #06a0fd;
}

#sixty {
    padding-right: 0px;
}

#sixty #sixtyone {
    padding: 0;
}

#sixtytwo {
    padding-left: 0px;
    padding-right: 0px;
}

#sixtythree {
    margin-bottom: 100px;
}

#sixtyfour {
    margin: auto;
}

#sixtyfive {
    color: #a1a1a1;
}

#sixtysix {
    display: inline;
    padding: 0;
}

#sixtyseven {
    background-color: lightgreen;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 10px;
    margin-right: 10px;
}

#sixtyeight {
    font-size: 15px;
    color: #8836f3;
    font-weight: 600;
}

#sixtynine {
    color: black;
}

#seventy {
    color: #06a0fd;
}

#seventyone {
    height: 65px;
    width: 100%;
}

#seventytwo {
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 12px;
    border: 0px;
    background: none;
}

#seventythree {
    color: #afaaaa;
}

#seventyfour {
    color: #a19c9c;
    font-size: 11px;
    padding: 0px;
    margin-bottom: 0px;
    text-align: center;
}

#seventyfive {
    color: #756e6e;
    font-size: 12px;
    padding: 0px;
    text-align: -webkit-center;
    margin-bottom: 5px;
}

#seventysix {
    width: 53px;
    height: 64px;
    margin-top: 5px;
    margin-left: 2px;
}

#seventyseven {
    color: #756e6e;
    font-size: 12px;
    padding: 0px;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 5px;
}

#seventyeight {}

#seventynine {}

#eighty {}

#eightyone {}

#eightytwo {}

#eightythree {}

#eightyfour {}

#eightyfive {}

#eightysix {}

#eightyseven {}

#eightyeight {}

#eightynine {}

#ninety {}

#ninetyone {}

#ninetytwo {}

#ninetythree {}

#ninetyfour {}

#ninetyfive {}

#ninetysix {}

#ninetyseven {}

#ninetyeight {}

#ninetynine {}

#onehundred {}

#onehundredone {}

#onehundredtwo {}

#onehundredthree {}

#onehundredfour {}

#onehundredfive {}

#onehundredsix {}

#onehundredseven {}

#onehundredeight {}

#onehundrednine {}

#onehundredten {}

#onehundredeleven {}

#onehundredtwelve {}

#onehundredthirteen {}

#onehundredfourteen {}

#onehundredfifteen {}

#onehundredsixteen {}

#onehundredseventeen {}

#onehundredeighteen {}

#onehundrednineteen {}

#onehundredtwenty {}

#onehundredtwentyone {}

#onehundredtwentytwo {}

#onehundredtwentythree {}

#onehundredtwentyfour {}

#onehundredtwentyfive {}

#onehundredtwentysix {}

#onehundredtwentyseven {}

#onehundredtwentyeight {}

#onehundredtwentynine {}

#onehundredthirty {}

#onehundredthirtyone {}

#onehundredthirtytwo {}

#onehundredthirtythree {}

#onehundredthirtyfour {}

#onehundredthirtyfive {}

#onehundredthirtysix {}

#onehundredthirtyseven {}

#onehundredthirtyeight {}

#onehundredthirtynine {}

#onehundredforty {}

#onehundredfortyone {}

#onehundredfortytwo {}

#onehundredfortythree {}

#onehundredfortyfour {}

#onehundredfortyfive {}

#onehundredfortysix {}

#onehundredfortyseven {}

#onehundredfortyeight {}

#onehundredfortynine {}

#onehundredfifty {}

#onehundredfiftyone {}

#onehundredfiftytwo {}

#onehundredfiftythree {}

#onehundredfiftyfour {}

#onehundredfiftyfive {}

#onehundredfiftysix {}

#onehundredfiftyseven {}

#onehundredfiftyeight {}

#onehundredfiftynine {}

#onehundredsixty {}

#onehundredsixtyone {}

#onehundredsixtytwo {}

#onehundredsixtythree {}

#onehundredsixtyfour {}

#onehundredsixtyfive {}

#onehundredsixtysix {}

#onehundredsixtyseven {}

#onehundredsixtyeight {}

#onehundredsixtynine {}

#onehundredseventy {}

#onehundredseventyone {}

#onehundredseventytwo {}

#onehundredseventythree {}

#onehundredseventyfour {}

#onehundredseventyfive {}

#onehundredseventysix {}

#onehundredseventyseven {}

#onehundredseventyeight {}

#onehundredseventynine {}

#onehundredeighty {}

#onehundredeightyone {}

#onehundredeightytwo {}

#onehundredeightythree {}

#onehundredeightyfour {}

#onehundredeightyfive {}

#onehundredeightysix {}

#onehundredeightyseven {}

#onehundredeightyeight {}

#onehundredeightynine {}

#onehundredninety {}

#onehundredninetyone {}

#onehundredninetytwo {}

#onehundredninetythree {}

#onehundredninetyfour {}

#onehundredninetyfive {}

#onehundredninetysix {}

#onehundredninetyseven {}

#onehundredninetyeight {}

#onehundredninetynine {}

#twohundred {}